.alert {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    animation: slideIn 0.5s ease-in-out;
  }
  
  .success {
    color: rgb(5, 7, 114);
  }
  
  .failure {
    color: red;
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 6;
      transform: translateY(0);
    }
  }
  